<ion-header>

  <ion-navbar>
    <ion-title>view-restaurant</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>Name</ion-col>
      <ion-col>{{restaurant?.name}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Address</ion-col>
      <ion-col>{{restaurant?.address}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Zip Code & City</ion-col>
      <ion-col>{{restaurant?.zipCode}} {{restaurant?.city}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Phone Number</ion-col>
      <ion-col>{{restaurant?.phoneNumber}}</ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="hasCoffeeList()">
    <h2>
      Serves Coffees:
    </h2>

    <ion-card *ngFor="let coffee of restaurant['restCoffeeModels']">
      <ion-card-title>{{coffee?.coffeeName}}</ion-card-title>
      <ion-card-content>ID: {{coffee?.coffeeId}} some words </ion-card-content>
    </ion-card>    
  </div>

  <restaurant-rating></restaurant-rating>
</ion-content>
